section {
    background-image: url('/assets/images/Fondo-Clinica.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-template-columns: auto 1fr;
}

main.card {
    background-color: #ffffff9f !important;
    backdrop-filter: blur(5px);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    scrollbar-width: thin;
    scrollbar-color: #888 #f0f0f0;
}

main.card::-webkit-scrollbar {
    width: 8px;
}

main.card::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

main.card::-webkit-scrollbar-thumb {
    background-color: #888;
    border: 2px solid #f0f0f0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

nav span {
    color: #6C757D;
}