.search_select_box select{
    background-color: #080342;

}

.custom-dropdown {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: .25rem;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .175);
}

.custom-dropdown.show {
  display: block;
}

.dropdown-item {
  cursor: pointer;
}

.input-group {
  display: flex;
  align-items: center;
}

.input-group .form-control {
  flex: 1;
}

.input-group .btn {
  margin-left: 10px;
}

.form-group {
  position: relative;
}

/*
.modal-right {
  display: block;
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 250px;
  border: 1px solid #ccc;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  z-index: 1050;
}

*/
.modal-right {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 30%; /* Ajusta el ancho del modal según sea necesario */
  background: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  overflow-x: hidden;
}

