<div class="contenedor-cita" *ngFor="let i of citas">
  <div>
      <img src="/assets/images/Fondo-Clinica.jpg" alt="card" class="image"/>
  </div>
  <div class="p-md-2 flex-grow-1 ms-3" id="info_personal">
    <h6 class="topi"> {{i?.pacienteDTOs?.nombre}} {{i?.pacienteDTOs?.apellido}}</h6>
    <div class="p-md-1">
      <p class="">DNI: {{i?.pacienteDTOs?.ndoc_documento}} </p>
      <p class="m-0">Celular: {{i?.pacienteDTOs?.telefono}} </p>
    </div>
  </div>
  <span class="">Hora:  </span>
  <span class="">{{ formatTime(i?.hora) }}</span>

  <div class="estado">
    <span class="espacio">Estado: </span>
    <span class="">Asistido</span>
  </div>
</div>
