<article class="d-flex justify-content-around align-items-center p-lg-0 m-0">
  <div class="d-flex gap-3 align-items-center text-center">
    <div>
      <figure style="height: 10rem; width: 15rem;">
        <img src="/assets/images/Fondo-Clinica.jpg" alt="card" style="height: 100%; width: 100%" />
      </figure>
    </div>
    <div class="p-md-2 flex-grow-1 ms-3">
      <h6 class="m-0">Brayan Ponce Chupapi</h6>
      <div class="p-md-1">
        <p class="">DNI</p>
        <p class="m-0">Celular</p>
      </div>
    </div>
    <span>hora</span>
  </div>
  <div class="text-center p-md-5 d-flex justify-content-evenly">
    <p class="m-0">estado</p>
  </div>
</article>

