<div class="d-flex justify-content-center">
    <img src="/assets/images/logo-entidad.png" alt="logo farmacia" [style]="'width: calc(100px*' + scale + ')'" />
    <article *ngIf="!isActiveHide">
        <p [style]="'font-size: calc(12.5px*' + scale + ')'">TERAPIA FISICA Y REHABILITACIÓN</p>
        <h1 [style]="'font-size: calc(36px*' + scale + ')'">FISIO<span>MEDIC</span></h1>
        <div class="d-flex justify-content-end">
            <P [style]="'font-size: calc(12.5px*' + scale + ')'">ELVIS SIMEON</P>
        </div>
    </article>
</div>