<div class="container">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Buscar..." aria-label="Buscar"
      aria-describedby="button-addon2">
    <button class="btn btn-secondary rounded-end" style="background-color: #c0c0c0; border: none; color: black;">Buscar</button>
    <button class="btn btn-primary ms-2 rounded" type="button" (click)="WatchData()">Registrar</button>
  </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Correo</th>
          <th scope="col">Documento de Identidad</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of pacientes; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ item.nombre }}</td>
          <td>{{ item.apellido }}</td>
          <td>{{ item.correo }}</td>
          <td>
            <span>
              {{ item.ndoc_documento }}
            </span>
          </td>
          <td>
            <button class="btn btn-primary me-2">Editar</button>
            <a routerLink="historial-clinico/{{ item.idpac }}">
              <img src="assets/icons/eye-fill.png" alt="icon ver historial">
            </a>
          </td>
        </tr>
      </tbody>
    </table>

</div>


<app-register-pacient *ngIf="activarModalPaciente">
  <div>
    <div class="agregar">
      <h1 class="estilo_text">Registrar Paciente Nuevo</h1>
      <button type="button" class="close" (click)="activarModalPaciente = false">&times;</button>
    </div>
    <form [formGroup]="pacienteForm" (ngSubmit)="newPaciente()">
      <div class="contenido">
        <div class="form-group row mb-4">
          <label for="nombreInput" class="col-sm-4 col-form-label text-end">Nombre</label>
          <div class="col-sm-8">
            <input type="text" id="nombreInput" formControlName="nombre" name="nombre" class="form-control" placeholder="Nombre">
          </div>
        </div>
        <div class="form-group row mb-4">
          <label for="apellidoInput" class="col-sm-4 col-form-label text-end">Apellido</label>
          <div class="col-sm-8">
            <input type="text" id="apellidoInput" formControlName="apellido" name="apellido" class="form-control" placeholder="Apellido">
          </div>
        </div>
        <div class="form-group row mb-4">
          <label for="dniInput" class="col-sm-4 col-form-label text-end">DNI</label>
          <div class="col-sm-8">
            <input type="text" id="dniInput" formControlName="ndoc_documento" name="ndoc_documento" class="form-control" placeholder="DNI">
          </div>
        </div>
        <div class="form-group row mb-4">
          <label for="telefonoInput" class="col-sm-4 col-form-label text-end">Teléfono</label>
          <div class="col-sm-8">
            <input type="text" id="telefonoInput" formControlName="telefono" name="telefono" class="form-control" placeholder="Teléfono">
          </div>
        </div>
        <div class="form-group row mb-4">
          <label for="correoInput" class="col-sm-4 col-form-label text-end">Correo</label>
          <div class="col-sm-8">
            <input type="email" id="correoInput" formControlName="correo" name="correo" class="form-control" placeholder="Correo">
          </div>
        </div>
      </div>
      <div class="agregar">
        <button type="submit" class="btn btn-primary">Agregar</button>
      </div>
    </form>
  </div>
</app-register-pacient>
