<section class="container-fluid vh-100 d-flex flex-column flex-md-row justify-content-center align-items-center gap-2">
  <div class="d-flex">
    <img src="/assets/images/logo-entidad.png" alt="logo farmacia" style="width: 100px" />
    <article>
      <p>TERAPIA FISICA Y REHABILITACIÓN</p>
      <h1>FISIO<span>MEDIC</span></h1>
      <div class="d-flex justify-content-end">
        <P>ELVIS SIMEON</P>
      </div>
    </article>
  </div>
  <main id="container-login">
    <router-outlet />
  </main>
</section>