section {
  background-image: url('/assets/images/Fondo-Clinica.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

article {
  color: white;
}

article p,
article h1 {
  margin: 0;
}

article p {
  font-size: 12.5px;
}

article h1 {
  font-size: 36px;
}

article h1 span {
  color: #A4C222;
}

@media (width > 768px) {
  section {
    gap: 74px !important;
  }
}