<section class="d-grid gap-3">
    <article class="d-flex gap-2 align-items-center">
        <img src="assets/icons/card-checklist.png" alt="icono del checklist para historia clinica">
        <span>Lista de historiales clinicos</span>
    </article>
    <div>
        <div class="d-grid gap-2">
            <article class="bg-white rounded-5 py-3 px-4">
                <h6 class="m-0 text-secondary">Nombres</h6>
                <p class="m-0">{{ paciente.nombre }}</p>
            </article>
            <article class="bg-white rounded-5 py-3 px-4">
                <h6 class="m-0 text-secondary">Apellido</h6>
                <p class="m-0">{{ paciente.apellido }}</p>
            </article>
            <article class="bg-white rounded-5 py-3 px-4">
                <h6 class="m-0 text-secondary">Dni</h6>
                <p class="m-0">{{ paciente.ndoc_documento }}</p>
            </article>
            <article class="bg-white rounded-5 py-3 px-4">
                <h6 class="m-0 text-secondary">Telefono</h6>
                <p class="m-0">{{ paciente.telefeno }}</p>
            </article>
            <article class="bg-white rounded-5 py-3 px-4">
                <h6 class="m-0 text-secondary">Correo</h6>
                <p class="m-0">{{ paciente.correo }}</p>
            </article>
            <article class="bg-white rounded-5 py-3 px-4">
                <h6 class="m-0 text-secondary">Edad</h6>
                <p class="m-0">{{ encontrarEdad(paciente.fecha_nac) }}</p>
            </article>
        </div>
        <span class="btn btn-primary">Registrar</span>
    </div>
    <main class="card card-body rounded-4">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Código de HC</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">N° Sesiones</th>
                    <th scope="col">Tipo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>23g1j2</td>
                    <td>Dolor lumbar</td>
                    <td>4</td>
                    <td>
                        <a routerLink="./sesion">
                            <img src="assets/icons/eye-fill.png" alt="icon ver historial">
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
</section>
